#Project files from Jetbrains IDE
.idea/*
*/.idea/*
**/.idea/

#Java files
Server/*/out
Server/out
Storage/out
Server/data
**/META-INF/
**/test_data
Server/**/config.cfg

#NodeJS files
node_modules/

#Website build files
