#Project files from Jetbrains IDE
.idea/*
*/.idea/*
**/.idea/

#Java files
Server/out
Storage/out
**/META-INF/
**/test_data
**/config.cfg
*.wsd
*.csv
*.iml

#NodeJS files
node_modules/

#Website build files
